.container {
  display: grid;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  grid-template-columns: 1fr 336px 1fr;
  gap: 8px;
}

.item1 {
  grid-column: 2;
  padding: 0;
}

.push {
  height: 50px;
  width: 100%;
}