.loggedInContainer {
  display: grid;
  width: 100%;
  margin-bottom: 48px;
  grid-template-columns: 1fr 368px 1fr;
  grid-template-rows: 568px 568px 568px;
}

.loggedOutContainer {
  display: grid;
  width: 100%;
  margin-bottom: 48px;
  grid-template-columns: 1fr 368px 1fr;
  grid-template-rows: 568px 568px 568px 284px;
}

.item1 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  border-left: 1px solid #383838;
  border-right: 1px solid #383838;
  margin: 0px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.item1Item1 {
  grid-row: 1;
  margin: auto 0px;
}

.item1Item1Head {
  font-size: 30px;
  text-align: center;
}

.item1Item2 {
  grid-row: 2;
  margin: auto 0px;
}

.item1Item2Head {
  text-align: center;
}

.item1Item2Text {
  text-align: center;
}

.item1Item3 {
  grid-row: 3;
}

.item1Text {
  margin: auto 32px;
  padding: 8px;
}

.item2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  border-left: 1px solid #383838;
  border-right: 1px solid #383838;
  display: grid;
}

.item2Item1Image {
  grid-row: 1;
  text-align: center;
  margin: auto 0;
}

.item2Item2 {
  grid-row: 2;
  margin: auto 0px;
}

.item2Item2Head {
  text-align: center;
  margin: auto 0px;
}

.item2Item3 {
  grid-row: 3;
}

.item2Item3Text {
  margin: auto 32px;
  padding: 8px;
}

.item3 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  border-left: 1px solid #383838;
  border-right: 1px solid #383838;
  display: grid;
}

.item3Item1Image {
  grid-row: 1;
  text-align: center;
  margin: auto 0px;
}

.item3Item2 {
  grid-row: 2;
  margin: auto 0px;
}

.item3Item2Head {
  text-align: center;
  margin: auto 0px;
}

.item3Item3 {
  grid-row: 3;
  margin: auto 0px;
}

.item3Item3Head {
  text-align: center;
  margin: 16px auto;
}

.timeFormBox {
  height: 72px;
  text-align: center;
}

.timeForm {
  width: 120px;
  margin: 0 auto;
}

.timeFormText {
  margin: 0px;
}

.orText {
  text-align: center;
  margin: 0;
  padding-bottom: 4px;
}

.tagSearchBox {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.tagSearchText {
  margin: 0px;
  text-align: center;
}

.tagSearch {
  width: 100%;
  margin: 0 auto;
}

.item4 {
  grid-row: 4;
  grid-column: 2 / 3;
  border-left: 1px solid #383838;
  border-right: 1px solid #383838;
}

.item4Item1 {
  text-align: center;
}

.item4Text {
  text-align: center;
}
