.container {
  display: grid;
  width: 100%;
  margin-bottom: 48px;
  grid-template-columns: 1fr 368px 1fr;
  grid-template-rows: auto auto;
}

.profile {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.userNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userName {
  margin: 16px;
}

.editIcon {
  align-items: center;
  cursor: pointer;
}

.nameFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameForm {
  align-items: center;
  margin: 4px;
}

.submitButton {
  align-items: center;
  margin: 4px;
}

.favorites {
  grid-column: 2;
  grid-row: 2;
}

.favoriteHeadBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.favoriteHead {
  text-align: center;
  margin: 16px 10px;
}

.horizontalLine {
  width: 80px;
  border-bottom: 1px solid #000000; /* 線のスタイルと色を指定 */
  margin-top: 10px; /* 線と上の要素の間の余白 */
  margin-bottom: 10px; /* 線と下の要素の間の余白 */
}

.favoriteSpots {
  display: flex;
  flex-wrap: wrap;
}

.favorite {
  display: flex;
  align-items: center;
}

.favoriteSpot {
  width: 120px;
}

.favoriteSpotImage {
  text-align: center;
}

.favoriteSpotName {
  margin-top: 2px;
  margin-left: 2px;
  white-space: nowrap; /* テキストを折り返さないように設定 */
  overflow: hidden; /* 親要素からはみ出た部分を隠す */
  text-overflow: ellipsis;
}

.delimiter {
  border-left: 1px solid #ccc;
  height: 90%;
}